* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: #3B2A9F;
    color: white;
}

main {
    width: 90%;
    text-align: center;
}

#game-mode {
    padding-top: 25%;
}

.mode-button {
    margin-top: 5px;
    padding: 20px 40px;
    font-size: 20px;
}

.mode-button:hover {
    opacity: 0.7;
}

#single-player-div {
    display: none;
}

#multi-player-div {
    display: none;
}

#win-div {
    display: none;
    color: green;
}

#lose-div {
    display: none;
    color: red;
}

#draw-div {
    display: none;
    color: gray;
}

#result-div {
    margin-top: 2rem;
}

#turn-div {
    margin-top: 2rem;
}

#choice-input-div {
    display: flex;
    margin-top: 2rem;
}

.choice-div {
    width: 33.33%;
}

.choice-img {
    width: 80%;
    height: 80%;
    display: block;
}

.choice-input {
    width: 50px;
    height: 50px;
}

#game-button {
    margin-top: -1rem;
    padding: 10px 40px;
    border-radius: 16px;
    border: solid white 3px;
    color: white;
    background-color: inherit;
    font-size: 20px;
}

#game-button:hover {
    color: red;
    border-color: red;
}

#two-intro-div {
    margin-top: 1rem;
}

#two-result-div {
    margin-top: 2rem;
}

#two-game-button {
    margin-top: 2rem;
    padding: 10px 40px;
    border-radius: 16px;
    border: solid white 3px;
    color: white;
    background-color: inherit;
    font-size: 20px;
}

#two-game-button:hover {
    color: red;
    border-color: red;
}

#two-game-div {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between
}

.two-player-choice {
    width: 49%;
    text-align: left;
}

.two-player-hint {
    padding-left: 1rem;
}

.two-img-div {
    margin-top: 1rem;
    border-radius: 16px;
    padding: 10px 10px;
}

.two-img-div img {
    width: 32%;
}

#player1-img {
    background-color: #7b64ff;
}

#player2-img {
    background-color: #c45757;
}

.p-choice {
    margin-top: 0.5rem;
    margin-left: 1rem;
}